Handling sub-domains

Is there an intention/idea yet of how to handle sub-domains? Would be nice if these were hierarchial like IP Addresses. Right now have to create separate "domain" objects for nautobot.com and apps.nautobot.com. 

There's a distinction to be made before diving into what has turned into a small novella. In my experience, folks who don't run DNS on the regular don't often know this, so just in case: there's a difference between a 'DNS Zone' and a 'DNS Domain'. A Domain is something you purchase from a registrar (e.g. 'example.com') and, once you own it, you can create a zone representing that domain and expect it to be visible in the global DNS. in the above, 'example.com' is simply a delegation of the 'example' name from the 'com' parent zone that you pay for the privilege of being created. Once you control the namespace, you can then create records in the zone (e.g. 'www.example.com') or subdivide it into child zones via delegation.

In the above example, I believe `apps.nautobot.com` is being proposed as a subdomain so you can create records in the `apps.nautobot.com` zone. Imagine a scenario like:

```zone
$ORIGIN example.com.
$TTL 3600

@   IN  SOA ns1.dns-provider.net. hostmaster.example.com. (
        2026080701  ; serial
        3600        ; refresh
        900         ; retry
        1209600     ; expire
        300         ; negative cache TTL
)

;
; not using ns[12].example.com for reason outside the scope of this
; discussion. If you're curious, a good search term is: DNS glue records
@       IN  NS      ns1.dns-provider.net.
@       IN  NS      ns2.dns-provider.net.

; Regular host records
www     IN  A       192.0.2.100

; Nameservers used for the apps.example.com delegation
ns1     IN  A       192.0.2.10
ns2     IN  A       192.0.2.11

; Delegate apps.example.com
apps    IN  NS      ns1.example.com.
apps    IN  NS      ns2.example.com.

mail    IN  NS   ns1.example.com.
mail    IN  NS   ns2.example.com.
```

This delegates the authority for `apps.example.com` and `mail.example.com` to ns[12].example.com. This sort of hierarchical subdivision is useful in a couple of different scenarios:

### Delegate authority to a different set of nameservers 
Useful when there's another organization within the same company who runs their own nameservers who wants to control the DNS for a subset of the company owned DNS. For instance, at a large company, there could be a `mail.example.com` subdomain controlled by the org who manages the mail system. For this example, it's likely that Nautobot wouldn't be used to populate the records for the delegated zone, since the purpose of the delegation is to place control for the zone to another group. One certainly /could/ have the parent and child zone in Nautobot tho.

Alternatively, you can delegate authority to an entirely different company. In that scenario, you could delegate `mail.example.com` to a company to which you're outsourcing management of your mail infrastructure. In that case, it's exceedingly unlikely that Nautobot would have the zone data for the delegated zone; there would simply be some NS records in the parent zone delegating control for `mail` to `ns[12].third-party.net.` or some such.

### Keeping the size of zone files smaller
This is another common reason for delegations. In this case, and this is the scenario in the example zone file I included above, there are  delegations for `mail.example.com` and `apps.example.com`, but it's to nameservers in the same company, and the same name servers at that. There are a couple of advantages to that layout.

First, it makes a given zone file a bit easier to read at a glance. This is more useful when zone files are being manually managed by humans (I have both been there and done that), as scrolling through a bazillion records in a zone file to find the one you want can be annoying, and it can lead to other human-related issues if the folks making the edits aren't careful. In the Nautobot world, it could mean not having to wait for a thousand records to populate a screen, or make it easy to see. It also lets humans say "I'm working on records in `mail.example.com` so I can just focus on that one thing".

Second, it lowers the blast radius if a zone file fails to load for some reason. It's highly unlikely that a zone file built programmatically from Nautobot data would have such an issue, but I've long since learned never to say never. Weird and expected edge cases or unexpected bugs can always creep in. If you have all your DNS records in `example.com`, someone could create a record in Nautobot for `foo.mail.example.com`:

```zone
$ORIGIN example.com.

[...]

foo.mail    IN  A     192.0.2.78
```

...which is totally legal. But if the addition of that record, for some weird reason (maybe the zone file got corrupted on the wire while being transferred), all of `example.com` will fail to load; that's potentially a sizable outage (how sizable depends on a number of other factors, outside the scope of this discussion. Caching resolvers and TTLs will certainly play a role, however.) If your zone files are set up like this, however:

```zone
; example.com.zone
$ORIGIN example.com.

;
; (SOA records and other records for example.com)
;

mail    IN  A    ns1.example.com.
mail    IN  A    ns2.example.com.
```

```zone
; mail.example.com.zone.
$ORIGIN mail.example.com.

;
; (SOA records and other records for mail.example.com)
;

foo    IN  A    192.0.2.78
```

...then the same bug also creates a problem for records in the `mail.example.com` zone. Still an outage of course, but only the mail team is impacted. If it actually causes an outage, upper management be annoyed they can't their mail, but they'll still be able to get to `www.example.com`. =)

### One side note

Something to be aware of: `CNAME` records are forbidden at the zone apex:
- [RFC 1034 §3.6.2](https://www.rfc-editor.org/rfc/rfc1034.html#section-3.6.2)
- [RFC 1912 §2.4](https://www.rfc-editor.org/rfc/rfc1912.html#section-2.4)

...which discuss the fact that a `CNAME` for a given name (or `@` for the zone apex) means there can't be any other records with that same name...but an `SOA` record, which is at the apex by definition, is a required record in the zone (ref: [RFC 1912 §2.2](https://www.rfc-editor.org/rfc/rfc1912.html#section-2.2)).