Support DNSSEC related models

### Proposed Functionality
A lot of modern DNS servers support DNSSEC functionality to be able to verify integrity and authenticity of origin of the DNS replies. As an example of DNSSEC related records are:
- DNSKEY records, storing Zone-Signing Key, and Key-Signing Key
- RRSIG records, storing the cryptographic sign of different Record Sets (like A records)

That said, the DNS servers have functionality for managing all the necessary records based on a DNSSEC related configuration. Based on that, I think that following similar approach with netbox-dns, not storing the actual DNSSEC records in the app but having the necessary models to configure the servers are the best way moving forward with this. 

### Use Case
Use these models to configure DNSSEC in DNS servers. 


Just in case this isn't common knowledge, be aware that some DNSSEC records are allowed to have the same label as CNAMEs. Ref: [RFC 4035, §2.5](https://datatracker.ietf.org/doc/html/rfc4035#section-2.5) and #123. 