[RFC Compliance] Add restriction for CNAMEs

### Environment
* Nautobot version:  2.4.17
* nautobot-dns-models version:  1.2.1

<!--
    Describe in detail the new functionality you are proposing.
-->
### Proposed Functionality
#### Background
Per [RFC 1912 §2.4](https://datatracker.ietf.org/doc/html/rfc1912#section-2.4), CNAMEs can not co-exist with other data. For example, one cannot have an A and a CNAME with the same name in the same zone. There are exceptions to this discussed in [RFC 2181 §10.1](https://datatracker.ietf.org/doc/html/rfc2181#section-10.1), but as this plugin does not support those record types, that's not currently important.

#### Proposal
1. An opt-out constance config element which controls this restriction; it should be enabled by default
2. If enabled, CNAMEs should not be allowed in the same zone with another record with the same name

<!--
    Convey an example use case for your proposed feature. Write from the
    perspective of a user who would benefit from the proposed
    functionality and describe how.
--->
### Use Case
This is a guardrail to prevent RFC violations. The opt-out allows for edge cases (e.g. storing DNS data in nautobot but not actually generating zone files from them, custom DNS resolvers which allow this sort of behavior).
