[RFC Compliance] Disallow creation of MX/NS records pointing to CNAMEs

### Environment
* Nautobot version:  <!-- Example: 2.4.0 -->
* nautobot-dns-models version: 1.2.1

<!--
    Describe in detail the new functionality you are proposing.
-->
### Proposed Functionality
Per [RFC2181 §10.3](https://datatracker.ietf.org/doc/html/rfc2181#section-10.3), MX and NS records MUST NOT be a CNAME. Properly implementing this is a little tricky, and 100% compliance is, IMO, questionable. Tangentially related ticket: #123.

Within Nautobot data, this is easy enough; there are a couple of options I see:

#### Option the first
The easy path is if someone tries to create an MX/NS record with a name matching a CNAME record, then raise a `ValidationError`. This would require something like `CNAMERecord.objects.filter(name=mx_record.mail_server)`, although can get a little weird figuring out which zone to look in. If `mail_server` is `foo.bar.baz.example.com`, then should we look for `foo` in the `bar.baz.example.com` zone, the non-delegated subdomain `foo.bar` in the zone `baz.example.com`, etc. And /then/ what do you do if it exists as an `A` in one of those zones but a `CNAME` in another?

It's [turtles all the way down](https://en.wikipedia.org/wiki/Turtles_all_the_way_down).

#### Option the second
A more complex (but possibly better) path would be to allow MX/NS records to either be linked at the database level to other records within Nautobot /or/ allow free-form text if the record needs to be pointed to something outside of Nautobot's control. In the former case, restricting it it much easier; we can ensure only A record names are surfaced in the UI and add checks to the relevant models. The downside, such as it is, is that the UI gets slightly more complex.

<!--
    Convey an example use case for your proposed feature. Write from the
    perspective of a user who would benefit from the proposed
    functionality and describe how.
--->
### Use Case
Preventing RFC violations. As always with these sorts of things, we should very probably have an opt-out config option defined somewhere (either at the zone level, globally within constance, or both.
